<div class="container">
  <h1 class="text-light">Top TV Show <span class="text-sm text-warning">({{finder.topTvShowTotalResults}})</span></h1>

  <div class="row" *ngIf="finder.topTvShow.length > 0">
    <button *ngIf="finder.topTvShowPage > 1" class="btn btn-primary btn-lg col-sm-4 col-md-2" (click)="onPreviousPage()"><i class="bi bi-rewind"></i> Previous</button>
    <button *ngIf="finder.topTvShowPage < finder.topTvShowTotalPages" class="btn btn-primary btn-lg col-sm-4 col-md-2 ms-auto" (click)="onNextPage()">Next <i class="bi bi-fast-forward"></i> </button>
  </div>

  <div class="row" *ngIf="finder.topTvShow.length > 0">
    <p class="text-warning text-center">Number of results: {{ finder.topTvShowTotalResults }} - Page {{ finder.topTvShowPage }} on {{ finder.topTvShowTotalPages }}</p>
    <app-tv-show-display *ngFor="let show of finder.topTvShow" [tvShow]="show" [titleLengthLimit]="titleLengthLimit" [descriptionLengthLimit]="descriptionLengthLimit" class="col-sm-12 col-md-4 col-lg-3 my-3"></app-tv-show-display>
  </div>

  <div class="row no-item" *ngIf="finder.topTvShow.length <= 0">
    <h1>No tv-show found!</h1>

    <img src="assets/eyes2.gif"/>

  </div>

  <div class="row" *ngIf="finder.topTvShow.length > 0">
    <button *ngIf="finder.topTvShowPage > 1" class="btn btn-primary btn-lg col-sm-4 col-md-2" (click)="onPreviousPage()"><i class="bi bi-rewind"></i> Previous</button>
    <button *ngIf="finder.topTvShowPage < finder.topTvShowTotalPages" class="btn btn-primary btn-lg col-sm-4 col-md-2 ms-auto" (click)="onNextPage()">Next <i class="bi bi-fast-forward"></i> </button>
  </div>

</div>


